body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.darkModeMain {
    background-color: #1a1e2e;
    color: white;
}

.lightModeMain {
    background-color: white;
    color: #1a1e2e;
}

.themeSwitch {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    height: 15vh;
}

.hookBtnContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.darkModeButton {
    background: linear-gradient(to bottom, #1476d7, #3e63ca);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    box-shadow: 0px 0px 8px 3px #52a4f7 inset;
    transition: 0.1s all linear;
    border: 1px solid #86bff7;
}

.darkModeButton:hover {
    background: linear-gradient(to bottom, #5daeff, #627fce);
    transform: scale(1.04);
}

.lightModeButton {
    background: linear-gradient(to bottom, #c2e0ff, #97cafd);
    color: #0080ff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    box-shadow: 4px 4px 6px #447fbb;
    transition: 0.1s all linear;
    border: 1px solid #1476d7;
}

.lightModeButton:hover {
    background: linear-gradient(to bottom, #e6f1fc, #c7dff7);
    transform: scale(1.04);
}